<p>controls works!</p>

<form [formGroup]="coffeeForm" novalidate>
    <div>
        <label>商品：<input formControlName="name"></label>
    </div>
    <div>
        <label>テイスト：<input formControlName="taste" size="50"></label>
    </div>

    <!--ラジオボタン-->
    <!--hotcoldというformControlName属性で、どのFormControlと紐づけるのかを決定する<div class=""></div>-->
    <div>
        <span *ngFor="let state of hotcoldsel">
            <input type="radio" formControlName="hotcold" [value]="state"> {{state}}
        </span>
    </div>
</form>
<p>フォーム入力値： {{coffeeForm.value | json}}</p>